.headerContainer {
  position: relative;
  z-index: 2;
}

.drawerContainer {
  position: relative;
  z-index: 1;
}

.pressureChartContainer {
  margin-left: 6rem;
  width: 50%;
  height: 50%;
}

.tableHeaderContainer {
  position: relative;
  border: solid 2px;
  width: 90%;
  left: 5%;
}
