.headerContainer {
  position: relative;
  z-index: 3;
}

/* .footerContainer {
  position: relative;
  z-index: 3;
} */

.tabsContainer {
  position: relative;
  z-index: 2;
  margin-top: 4.6rem;
}

.pressureChartContainer {
  margin-left: 6rem;
  width: 50%;
  height: 50%;
}

.tableHeaderContainerOpen {
  position: relative;
  z-index: 1;
  margin-left: 15rem;
}

.tableHeaderContainerClosed {
  position: relative;
  z-index: 1;
  margin-left: 5rem;
}

.clearDiv {
  height: 60px;
}

.drawerContainer {
  position: relative;
  z-index: 2;
}
