.mainPage {
  background-color: #f5f6f6;
}

.columnContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.chartTableContainer {
  align-content: center;
}

.tabsContainer {
  margin-top: 4.5rem;
}
