.mainPage {
  background-color: #f5f6f6;
}

.pageHeaderContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.chartTableContainer {
  display: flex;
  justify-content: center;
}

.notesTableContainer {
  /* position: absolute;
  left: 72.92%;
  right: 1.9%;
  bottom: 9.42%;
  top: 87.19%; */
}
